
.topnav {
    background-color: blue;
    overflow: hidden;
    position: sticky;
    text-align:center;
    vertical-align: middle;
    width: 100vw;
    height: 8%;
}
.home_button {
    color: yellow;
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
}
.even_space {
    display: flex;
    justify-content: space-around; 
    justify-content: space-between;
}

.center_text {
    text-align: center;
}




