
body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
}
.topnav {
    background-color: blue;
    overflow: hidden;
    position: fixed;
    width: 100vw;
    height: 8%;
    display: flex;
    align-items: center;
    padding: 12px;
}
.home_button {
    color: yellow;
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif; 
    font-size: 45px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
}
.homeButtonPosition {
    text-align: center;
    line-height: 10px; 
    z-index: 10;  
    display: inline-block;
    width: 100%;
    line-height: 400px;
    vertical-align: middle;
}
.even_space {
    display: flex;
    justify-content: space-around; 
    justify-content: space-between;
}

.center_text {
    text-align: center;
}

.logInButton {
    width:100px;
    height:40px;
    z-index: 2;
    background: yellow;
    font-family: Impact;
    font-size: 20px;
}
.modal {
    visibility: hidden; 
    position: relative;
    display: flex;
    justify-content: center;
    background-color: bisque;
    width: 600px;
    z-index: 2;
}

.overlay:before {
    content: "";
    visibility: hidden; 
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: gray;
    opacity: 0.5;
    z-index: 1;
  }
  * {
    box-sizing: border-box;
  }
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

