/* layout styles*/
.content {
    margin-top: 8%;
}

.topnav {
    background-color: blue;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8%;
    display: flex;
    align-items: center;
    padding: 12px;
}

.even_space {
    display: flex;
    justify-content: space-around; 
    justify-content: space-between;
}

.center_text {
    text-align: center;
}

/* button styles */
.home_button {
    color: yellow;
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif; 
    font-size: 45px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
}

.logInButton {
    position: relative;
    cursor: pointer;
    width:100px;
    height:40px;
    z-index: 2;
    background: yellow;
    font-family: Impact;
    font-size: 20px;
    top: 0;
    left: 0;
    transition: all 0.1s ease;
}

.logInButton:hover {
    background-color: rgb(198, 198, 3);
}

.logInButton:active {
    top: 1px;
    left: 1px;
}

.homeButtonPosition {
    text-align: center;
    line-height: 10px; 
    z-index: 10;  
    display: inline-block;
    width: 100%;
    line-height: 400px;
    vertical-align: middle;
}

/* modal styles */
.modal {
    padding: 30px 12px 12px 12px;
    visibility: hidden; 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: bisque;
    width: 600px;
    z-index: 2;
}

.overlay {
    content: "";
    visibility: hidden; 
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .75);
    z-index: 1;
}

.close-modal {
    position: absolute;
    top: 8px;
    right: 8px;
    color: black;
    cursor: pointer;
    font-size: 38px;
    text-align: right;
    transition: all 0.1s ease;
}

.close-modal:hover {
    color: rgb(87, 87, 87);
}

/* utility classes */
.visible {
    visibility: visible;
}


